.section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.section--hero {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url('https://i.postimg.cc/wBNhr8v0/fondo.jpg');
    background-position: center;
    background-size: cover;
}

.section__hero-img {
    position: relative;
    max-width: 300px;
}

.section__hero-img-img {
    display: flex;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.section__hero-decorators {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    margin: 0;
}

.section__hero-decorator {
    position: absolute;
}

.section__hero-decorator:nth-child(1) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__hero-decorator:nth-child(2) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.section__hero-decorator:nth-child(3) {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__hero-decorator:nth-child(4) {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}


.container {
    /* ancho maximo */
    max-width: var(--max-width-container);
    /* margin 0 hacia arriba y abajo y automatico a los lados */
    margin: 0 auto;
    /* padding izquierda y derecha segun la varible */
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
}

.f-elements {
    /* pone los elementos de forma lineal */
    display: flex;
}

.f-elements--header {
    /* alinea los elementos al centro */
    align-items: center;
    /* hace que se justifiquen como en word y se organizen  */
    justify-content: space-between;
}

.f-elements--center {
    align-items: center;
    justify-content: center;
}

.f-elements--responsive {
    flex-direction: column;
}

.g-elements {
    display: grid;
}

.g-elements--center {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.g-elements--responsive {
    grid-template-columns: 100%;
}


@media (min-width: 768px) {
    .f-elements--responsive {
        flex-direction: row;
    }
    .g-elements--responsive {
        grid-template-columns: 1fr 1fr;
    }
}