:root {
    --primary-theme-color: #20232a;
    --primary-shadow-color: #20232abf;
    --secondary-shadow-color: #282c34bf;
    --primary-text-color: #fff;
    --primary-highlight-color: #61dafb;
    --primary-font-family: monospace;
}



.body {
    background-color: var(--primary-shadow-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
}

.hero {
    display: flex;
    background-image: url(https://i.postimg.cc/4dKhqtR1/as.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.card {
    border: 0.125rem solid var(--primary-text-color);
    border-radius: 1rem;
    max-width: 320px;
    margin: auto;
    overflow: hidden;
}

.card:hover {
    border: 0.125rem solid var(--primary-highlight-color);
}

.card__header {
    background-color: var(--primary-shadow-color);
    text-align: center;
    padding: 1rem;
}

.card__img {
    background-color: var(--primary-theme-color);
    border-radius: 50%;
    width: min(100%, 256px);
    object-fit: cover;
}

.card__body {
    background-color: var(--secondary-shadow-color);
    padding: 1rem;
}

.card__title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.card__subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}

.card__text {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.card__text::after {
    content: '❤';
}

.card__text::before {
    content: '❤';
}

.card__footer {
    background-color: var(--primary-shadow-color);
    padding: 1rem;
}

.menu {
    display: flex; 
    gap: 0.75rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}