.nav {
    --padding-nav: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: padding 0.25s;

    &--scroll {
        --padding-nav: 0.5rem;
    }

    &__logo {
        font-size: 1.75rem;
        text-decoration: none;
    }
}

